##MongoDB

### MongoDB is a document-oriented NoSQL database. 

### To connect with the MongoDB server using python we need to install a python driver named pymongo.To install pymongo we need to type the below command in the command prompt.

In [ ]:
!pip install dnspython
!-m pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)
/bin/bash: - : invalid option
Usage:	/bin/bash [GNU long option] [option] ...
	/bin/bash [GNU long option] [option] script-file ...
GNU long options:
	--debug
	--debugger
	--dump-po-strings
	--dump-strings
	--help
	--init-file
	--login
	--noediting
	--noprofile
	--norc
	--posix
	--rcfile
	--restricted
	--verbose
	--version
Shell options:
	-ilrsD or -c command or -O shopt_option		(invocation only)
	-abefhkmnptuvxBCHP or -o option

### To connect with MongoDB, first we need to import the pymongo package. Then to connect to the MongoDB server, we will use the MongoClient method.

### Use your MongoDB Atlas server username and password instead of 'username' and 'password' in the below given link

In [ ]:
import pymongo
from pymongo import MongoClient
client = pymongo.MongoClient("mongodb+srv://username:password@cluster0.br6du.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")

### We can create a database 'TelephoneDirectory' using the below command.

In [ ]:
db = client.MobileDirectory

### Then we need to create a collection in the database which stores the documents. I have named the collection as 'Contactslist' and 'notes' variable is used to call this collection.

In [ ]:
notes = db.Contacts

# CRUD operations in MongoDB

## Inserting documents in the collection

### To insert a single document, we use insert_one() method.

In [ ]:
my_contact = {'_id': '01', 'Name': 'Ram', 'PhoneNo': '95401', 'Place': 'Hyderabad', 'Available on Whatsapp': 'yes'}
print(notes.insert_one(my_contact))

<pymongo.results.InsertOneResult object at 0x7f3509a68b90>

### To insert multiple documents, we will use insert_many() method. To insert these documents, we will create a list of dictionaries that contains the data to be inserted into the collection and pass that list to insert_many() method.

In [ ]:
my_contacts = [{'_id': '02','Name':'Mahesh','PhoneNo':'87406','Place':'Chennai','Available on Whatsapp':'yes'},{'_id':'03','Name':'Harry','PhoneNo':'70921','Place': 'Kochi','Available on Whatsapp':'no'},{'_id': '04','Name':'Linda','PhoneNo':'86732','Place':'Chennai','Available on Whatsapp':'yes'},{'_id': '05','Name':'Wayne','PhoneNo':'49021','Place':'New Delhi','Available on Whatsapp':'no'}, {'_id': '06','Name':'Rashid','PhoneNo':'32915','Place':'Mumbai','Available on Whatsapp':'yes'}]
print(notes.insert_many(my_contacts))

<pymongo.results.InsertManyResult object at 0x7f3509538550>

## Retrieving the data from the collection

### To retrieve a single document we use find_one() method. We need to pass a query as a parameter to find_one() method and find_one() method will search the collection and return the first hit document.

In [ ]:
myquery = {"Name":"Mahesh"}
print(notes.find_one(myquery))

{'_id': '02', 'Name': 'Mahesh', 'PhoneNo': '87406', 'Place': 'Chennai', 'Available on Whatsapp': 'yes'}

### To retrieve multiple documents we use find_many() method. The return type of find_many() is a cursor object. We can use for loop to loop over the cursor object.

In [ ]:
query = {"Place":"Chennai"}
mydoc = notes.find(query)
for x in mydoc:
    print(x)

{'_id': '02', 'Name': 'Mahesh', 'PhoneNo': '87406', 'Place': 'Chennai', 'Available on Whatsapp': 'yes'}
{'_id': '04', 'Name': 'Linda', 'PhoneNo': '86732', 'Place': 'Chennai', 'Available on Whatsapp': 'yes'}

## Updating the documents in the collection

### To update a single document we use update_one() method. For updating the documents we need to provide 2 parameters into the method. The first parameter is a filter parameter and the second parameter is an update parameter.

In [ ]:
updquery={"Name":{"$eq":"Linda"}}
present_data=notes.find_one(updquery)
new_data={'$set':{"PhoneNo": 37942}}
notes.update_one(present_data,new_data)

### To update multiple documents we use update_many() method.

In [ ]:
present_data={"Place":"Chennai"}
new_data={'$set':{"Place": "Indore"}}
notes.update_many(present_data,new_data)

##Displaying the contacts

In [ ]:
for y in notes.find({},).sort('_id'):
    print(y)

{'_id': '01', 'Name': 'Ram', 'PhoneNo': '95401', 'Place': 'Hyderabad', 'Available on Whatsapp': 'yes'}
{'_id': '02', 'Name': 'Mahesh', 'PhoneNo': '87406', 'Place': 'Indore', 'Available on Whatsapp': 'yes'}
{'_id': '03', 'Name': 'Harry', 'PhoneNo': '70921', 'Place': 'Kochi', 'Available on Whatsapp': 'no'}
{'_id': '04', 'Name': 'Linda', 'PhoneNo': 37942, 'Place': 'Indore', 'Available on Whatsapp': 'yes'}
{'_id': '05', 'Name': 'Wayne', 'PhoneNo': '49021', 'Place': 'New Delhi', 'Available on Whatsapp': 'no'}
{'_id': '06', 'Name': 'Rashid', 'PhoneNo': '32915', 'Place': 'Mumbai', 'Available on Whatsapp': 'yes'}

## Deleting documents from the collection

### To delete a single document we use delete_one() method by passing a query as a parameter.

In [ ]:
delquery = {"_id":3}
notes.delete_one(delquery)

### To delete multiple documents we use delete_many() method.

In [ ]:
delquery={"Place":"Indore"}
notes.delete_many(delquery)

##Displaying the contacts

In [ ]:
for y in notes.find({},).sort('_id'):
    print(y)

{'_id': '01', 'Name': 'Ram', 'PhoneNo': '95401', 'Place': 'Hyderabad', 'Available on Whatsapp': 'yes'}
{'_id': '03', 'Name': 'Harry', 'PhoneNo': '70921', 'Place': 'Kochi', 'Available on Whatsapp': 'no'}
{'_id': '05', 'Name': 'Wayne', 'PhoneNo': '49021', 'Place': 'New Delhi', 'Available on Whatsapp': 'no'}
{'_id': '06', 'Name': 'Rashid', 'PhoneNo': '32915', 'Place': 'Mumbai', 'Available on Whatsapp': 'yes'}